<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome | Blog App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <link rel="stylesheet" href="/css/landing.css">
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
        <section>
                <div >
                  <div class="container" id="landing-header">
                    <h1>Welcome to Blog App <i class="fas fa-blog"></i></h1>
                    <p class="landing-font">Post, Comment, Like </p>
                   <a href="/register" class="btn btn-lg btn-success">Sign Up</a>
                   <p class="font-weight-bold">Or</p>
                       <p  class="font-weight-bold landing-font">
                        Already Have an Account?
                   <a href="/login"> Login</a>
                       </p>
               </div>
              
               
               <ul class="slideshow">
                 <li></li>
                 <li></li>
                 <li></li>
                 <li></li>
                 <li></li>
               </ul>
   
                    </div>
                    
                    
        </section>
        <script src="https://kit.fontawesome.com/311331fecc.js"></script>
</body>
</html>
    

        
    