
<% include ../partials/header %>


<section>
        <div class="container ">
                <div class="breadcrumb">
            
                        <h2 class="header">New Blog</h2>
                    
                    
                    <form action="/blogs" method="POST">
                        <div class="form-group">
                          <label class="font-weight-bold">Title</label>
                          <input type="text" class="form-control" name="title" placeholder="title">
                        </div>
                        <div class="form-group">
                          <label class="font-weight-bold">Image</label>
                          <input type="text" class="form-control" name="image" placeholder="image">
                        </div>
                        <div class="form-group">
                          <label class="font-weight-bold">Blog Content</label>
                          <textarea class="form-control" name="body" rows="3" required></textarea>
        
                        </div>
                        
                        
                        <input type="submit" class="btn btn-outline-primary" value="Submit">
                </form>
                </div>
        </div>
      
</section>



<% include ../partials/footer %>